/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

/* Container for the game elements */
.container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

/* Heading styles */
h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

/* Styles for player input div */
.player-input-div {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Styles for player input elements */
.player-input {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    font-size: 16px;
    color: #333;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

/* Game board styles */
.game-board {
    display: none;
    width: 300px;
    margin-top: 20px;
}

/* Row styles for game cells */
.row {
    display: flex;
    justify-content: center;
}

/* Styles for individual game cells */
.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover effect for game cells */
.cell:hover {
    background-color: #f0f0f0;
}

/* Styles for the game result paragraph */
.winner-paragraph {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
    margin-top: 20px;
}

/* Styles for the restart button */
.restart-button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

/* Hover effect for the restart button */
.restart-button:hover {
    background-color: #005f7e;
}

/* Styles for disabled game cells */
.cell.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* Styling for the score display container */
.score-display {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

/* Styling for player scores */
.player-score {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    margin: 10px 0;
    flex-direction: column;
}

/* Styling for player names */
.player-name {
    font-weight: bold;
    font-size: 24px;
    color: #333;
}

/* Styling for score labels */
.score-label {
    margin-top: 5px;
    color: #666;
    font-size: 16px;
}

/* Styling for score values */
.score-value {
    font-weight: bold;
    color: #007bff;
    font-size: 28px;
}

/* Hidden attribute to hide elements */
[hidden] {
    display: none;
}

/* Styling for the footer */
footer {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

/* Styling for the GitHub link */
.github-link {
    text-decoration: none;
}

/* Hover effect for GitHub link */
.github-link:hover {
    text-decoration: underline;
}

/* Styles for the Start Game button */
#start-game-btn {
    background-color: #f5f5f5;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for the Start Game button */
#start-game-btn:hover {
    background-color: #d0d0d0;
}
